@import url("https://fonts.googleapis.com/css?family=Acme|Lobster|Patua+One|Rubik|Sniglet"); /*contain all the fonts use in here*/
*{
    box-sizing:border-box; /*include padding in total width and height*/
    
}
.section-1{
    background-color:deepskyblue;
}
.carousel-item{
   
    height: 15rem;
}

    
   
